.main-page__list {
  padding: 0;
}

.main-page__item {
  .nostyle_item();
  background-color: @lightgrey;

  &--header {
    background-color: @white;
  }

  &--important {
    background-color: @lightblue;
    color: @white;
  }
}

.main-page__promo {
  .nostyle_item();
  background-color: @white;
}
