.main-page__ads {
  background-image: url("/img/bg-back-mobile@1x.jpg");
  width: 100%;
  height: auto;
}

.main-page__list {
  padding: 0;
}

.main-page__item {
  .nostyle_item();
  background-color: @lightgrey;

  &--header {
    background-color: @white;
  }

  &--important {
    background-color: @lightblue;
    color: @white;
  }
}

.main-page__title {
  text-align: center;
}

.main-page__number {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.main-page__description {
  text-align: center;
  font-size: 14px;
  line-height: 21px;

  &--header {
    line-height: 26px;
  }

  &--photo {
    line-height: 24px;
  }
}

.main-page__promo {
  .nostyle_item();
  background-color: @white;
}
