.main-nav {
  background-color: @white;
  position: relative;
}

.main-nav__link {
  display: block;
  margin-top: 7.5px;
  color: @white;
  .nostyle_link();
  line-height: 40px;
  font-weight: bold;
}

.main-nav__list li:not(:nth-child(3)):not(:nth-child(5)):nth-child(-n+4) {
  border-bottom: 1px solid #678fa8;
}

.main-nav__list li:not(:nth-child(3)):nth-child(n+2) {
  border-top: 1px solid #9ac2db;
}

.main-nav__toggle {
  position: absolute;
  background-color: @white;
  z-index: 2;
  border: none;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &--close {
    background-color: @lightblue;
    top: 15px;
    right: 15px;
    position: absolute;
    outline: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: -4px;
      width: 30px;
      height: 4px;
      background-color: @white;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: #cde1ed;
    }

    &:active::before,
    &:active::after {
      background-color: #a7cae0;
    }
  }

  &--open {
    top: 240px;
    right: 20px;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 23px;
      height: 4px;
      background-color: @lightblue;
      box-shadow: 0 8px 0 0 @lightblue, 0 16px 0 0 @lightblue;
    }

    &:hover::before {
      background-color: #a7cae0;
      box-shadow: 0 8px 0 0 #a7cae0, 0 16px 0 0 #a7cae0;
    }

    &:active::before {
      background-color: #cde1ed;
      box-shadow: 0 8px 0 0 #cde1ed, 0 16px 0 0 #cde1ed;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  background-color: @lightblue;
  height: 55px;
  .nostyle_item();
  text-align: center;
}

@media (min-width: @tablet) {
  .main-nav {
    background-color: @white;
    width: @tablet;
  }

  .main-nav__item {
    background-color: @white;
  }

  .main-nav__list li:not(:nth-child(3)):not(:nth-child(5)):nth-child(-n+4) {
    border-bottom: none;
  }

  .main-nav__list li:not(:nth-child(3)):nth-child(n+2) {
    border-top: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__link {
    color: @black;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: @desktop) {
  .main-nav {
    width: @desktop;
  }

  .main-nav__list {
    padding: 0 60px;
  }
}
