.promo {
  .nostyle_item();
  background-color: @white;
}

.promo__item {
  .nostyle_item();
}

.promo__description {
  font-size: 14px;
  line-height: 21px;
  color: @text;
}

.promo__item--home {
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
}

.promo__item--gift {
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.promo__item--food {
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet) {
  .promo__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .promo__item {
    width: 255px;
  }
}
